<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:component-scan base-package="com.local.labs.parser.service"/>

    <import resource="classpath:/applicationContext-common.xml"/>
    <import resource="classpath:/applicationContext-dao.xml"/>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.max.total}"/>
        <property name="maxIdle" value="${redis.max.idle}"/>
        <property name="maxWaitMillis" value="${redis.max.wait.millis}"/>
        <property name="testOnBorrow" value="${redis.test.on.borrow}"/>
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
        <constructor-arg name="host" value="${redis.host}"/>
    </bean>

    <bean id="redisTemplate" class="com.local.labs.parser.common.redis.RedisTemplate">
        <constructor-arg name="jedisPool" ref="jedisPool"/>
    </bean>

    <bean id="redisCache" class="com.local.labs.parser.common.redis.RedisCache">
        <constructor-arg name="redisTemplate" ref="redisTemplate"/>
    </bean>

    <bean id="redisSortedSet" class="com.local.labs.parser.common.redis.RedisSortedSet">
        <constructor-arg name="redisTemplate" ref="redisTemplate"/>
    </bean>
</beans>
